<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Items</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
#itemdetail {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

#itemdetail td, #itemdetail th {
  border: 1px solid #ddd;
  padding: 8px;
}

#itemdetail tr:nth-child(even){background-color: #f2f2f2;}

#itemdetail tr:hover {background-color: #ddd;}

#itemdetail th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>

<body>
	<h2>items Details</h2>

	<table id="itemdetail">
		<tr>
		   <th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>Size</th>
			<th>Color</th>
		</tr>

		<tr>
			<td th:text="${item.id}">Id</td>
			<td th:text="${item.name}">Name</td>
			<td th:text="${item.price}">Price</td>
			<td th:text="${item.size}">Size</td>
			<td th:text="${item.color}">Color</td>
			 
		</tr>
	</table>

</body>
</html>